 body {
     background-color: #eeeedb;
     text-align: center;
 }

 .navbar {
     list-style: none;
     display: inline-block;
     margin-left: 20px;
 }

 li {
     list-style-position: inside;
 }

 .txtandcolor {
     color: seagreen;
     text-align: left;
     margin-left: 30px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .text {
     text-align: left;
     margin-left: 30px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 18px;
 }

 .products {
     list-style: none;
 }

 .text-product {
     color: darkslategray;
     font-size: 15px;
 }